.apps {
    padding-top: 115px;
    padding-bottom: 133px;
}

.apps__row {
    display: flex;
    gap: 102px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 30px;
}

.apps__image {
    width: 665px;
    flex-grow: 1;
}

.apps__title {
    font-size: 36px;
    line-height: calc(48 / 36);
    margin-bottom: 31px;
}

.apps__text {
    font-size: 18px;
    line-height: calc(30 / 18);
    color: #7D7987;
    margin-bottom: 40px;
}

