.customer {
    padding-top: 133px;
    padding-bottom: 113px;
    background-image: url("../../Image/background-ellipse.png");
    background-repeat: no-repeat;
    background-position: left 400px bottom 150px;
    background-size: 131px;
}

@media screen and (max-width: 1350px) {
    .customer {
        padding-top: 90px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 790px) {
    .customer {
        padding-top: 30px;
        background-image: unset;
    }
}


.customer__container {
    background-image: url("../../Image/backgroung-ellipse-white.png"), linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background-repeat: no-repeat;
    background-position: right -50px top -20px, 100%;
    background-size: 131px, cover;
    border-radius: 24px;
    padding: 64px 118px 89px 117px;
    color: #FFFFFF;
    position: relative;
}

@media screen and (max-width: 990px) {
    .customer__container {
        padding: 50px 60px;
        background-image: unset;
        background-color: #5A98F2;
    }
}

@media screen and (max-width: 790px) {
    .customer__container {
        padding: 20px;
        width: 100%;
        border-radius: 0;
    }
}

.customer__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(48 / 36);
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 45px;
}

@media screen and (max-width: 990px) {
    .customer__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 790px) {
    .customer__title {
        font-size: 28px;
        margin-bottom: 25px;
    }
}


.customer__title::after {
    content: " ";
    width: 56px;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    margin-top: 26px;
}

@media screen and (max-width: 790px) {
    .customer__title::after {
        display: none;
    }
}

.customer__row {
    display: flex;
    gap: 110px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 990px) {
    .customer__row {
        gap: 70px;
    }
}

@media screen and (max-width: 790px) {
    .customer__row {
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }
}

.customer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1350px) {
    .customer__content {
        gap: 15px;
    }
}

@media screen and (max-width: 790px) {
    .customer__content {
        grid-template-columns: 1fr;
        gap: 6px;
    }
}

.customer__image {
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.customer__subtitle {
    align-self: end;
    font-size: 22px;
    line-height: calc(33 / 22);
}

@media screen and (max-width: 990px) {
    .customer__subtitle {
        font-size: 20px;
    }
}

.customer__text {
    font-size: 18px;
    line-height: calc(22 / 18);
    color: rgba(255, 255, 255, 0.85);
}

.customer__quote {
    width: 420px;
    font-size: 19px;
    line-height: calc(30 / 19);
}

@media screen and (max-width: 790px) {
    .customer__quote {
        width: 100%;
        font-size: 16px;
    }
}

.customer__elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 91px;
    position: absolute;
    bottom: -53px;
    left: 393px;
}

@media screen and (max-width: 1350px) {
    .customer__elements {
        display: none;
    }
}

.customer__wrapper-figures {
    display: flex;
    gap: 18px;
}

.customer__figure {
    height: 10px;
    width: 10px;
    background-color: #5B9BF3;
    opacity: 0.3;
    border-radius: 50%;
    display: block;
}

.customer__figure:hover {
    opacity: 1;
}


