* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    position: relative;
}

.container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1350px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 990px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 790px) {
    .container {
        width: 90%;
    }
}

.container-lg {
    width: 1273px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1350px) {
    .container-lg {
        width: 79%;
    }
}

@media screen and (max-width: 990px) {
    .container-lg {
        width: 70%;
    }
}

@media screen and (max-width: 790px) {
    .container {
        width: 90%;
    }
}

.title__underline {
    font-weight: 700;
    color: #000000;
}

.title__underline::after {
    content: " ";
    width: 56px;
    height: 2px;
    background-color: #000000;
    display: block;
    margin-top: 26px;
}

@media screen and (max-width: 1350px) {
    .title__underline::after{
        display: none;
    }
}


@media screen and (max-width: 1350px) {
    .title__underline::after{
        margin-top: 10px;
    }
}

.title__center::after {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    gap: 12px;
    align-items: center;
}

@media screen and (max-width: 790px) {
    .logo {
        gap: 6px;
        justify-content: flex-start;
    }
}

.logo__text {
    color: #1F1534;
    font-size: 24px;
    line-height: calc(30 / 24);
    font-weight: 700;
}

@media screen and (max-width: 790px) {
    .logo__text {
        font-size: 26px ;
    }
}

.logo__icon {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(33 / 26);
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding: 4px 13px;
    color: #FFFFFF;
    background-color: #458FF6;
}

@media screen and (max-width: 790px) {
    .logo__icon {
        width: 45px;
        height: 45px;
        font-size: 30px;
        padding:  3px 14px;
    }
}

.button {
    text-align: center;
    min-width: 200px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(27 / 18);
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #458FF6;
    padding: 13px;
}

@media screen and (max-width: 790px) {
    .button {
        min-width: 170px;
        font-size: 16px;
        padding: 9px;
    }
}

