.service {
    padding-top: 81px;
    padding-bottom: 111px;
    background-image: url("../../Image/background-services.png"),
    url("../../Image/background-ellipse.png");
    background-repeat: no-repeat;
    background-position: left center, right 401px center;
    background-size: 937px, 131px;
}

@media screen and (max-width: 1350px) {
    .service {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 990px) {
    .service {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 790px) {
    .service {
        padding-top: 10px;
        background-image: unset;
    }
}

.service__title {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 33px;
}

@media screen and (max-width: 1350px) {
    .service__title{
        text-align: center;
    }
}

@media screen and (max-width: 990px) {
    .service__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 790px) {
    .service__title {
        font-size: 28px;
    }
}

.service__text {
    color: #7D7987;
    width: 90%;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.65;
    margin-bottom: 80px;
    text-align: center;
}

@media screen and (max-width: 1350px) {
   .service__text {
       margin-bottom: 40px;
       width: 100%;
   }
}

@media screen and (max-width: 990px) {
    .service__text {
        margin-bottom: 25px;
        font-size: 16px;

    }
}

.service__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   gap: 30px;
   margin-bottom: 69px;
}

@media screen and (max-width: 1350px) {
    .service__list {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 990px) {
    .service__list {
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 790px) {
    .service__list {
        gap: 20px;
    }
}

.service__item {
    background-color: #FFFFFF;
    width: 350px;
    padding: 65px 40px 51px 40px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
@media screen and (max-width: 1350px) {
    .service__item {
        padding: 3%;
        width: 30% ;
    }
}

@media screen and (max-width: 990px) {
    .service__item {
        width: 42%;
    }
}

@media screen and (max-width: 790px) {
    .service__item {
        width: 100%;
        padding: 5%;
        background-color: beige;
    }
}

.service__image {
    margin-bottom: 22px;
    height: 80px;
}

@media screen and (max-width: 990px) {
    .service__image {
        margin-bottom: 7px;
        height: 65px;
    }
}

.service__subtitle {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 2.3;
}

@media screen and (max-width: 790px) {
    .service__subtitle {
        font-size: 20px;
    }
}

.service__text-list {
    color: #7D7987;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
    width: 261px;
}

@media screen and (max-width: 1350px) {
    .service__text-list {
        width: 100%;
    }
}

@media screen and (max-width: 790px) {
    .service__text-list {
        font-size: 16px;
    }
}

.service__button-wrapper {
    display: flex;
    justify-content: center;
}

